MOviesClient/Connected Services/MovieServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MoviesService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieService_GetMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_CreateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieService_CreateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovieByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieByTitle" />
  </wsdl:message>
  <wsdl:message name="IMovieService_GetMovieByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteMovieByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieByTitle" />
  </wsdl:message>
  <wsdl:message name="IMovieService_DeleteMovieByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieByTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieService">
    <wsdl:operation name="GetMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMovies" message="tns:IMovieService_GetMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMoviesResponse" message="tns:IMovieService_GetMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMovie" message="tns:IMovieService_GetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMovieResponse" message="tns:IMovieService_GetMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/DeleteMovie" message="tns:IMovieService_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/DeleteMovieResponse" message="tns:IMovieService_DeleteMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/UpdateMovie" message="tns:IMovieService_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/UpdateMovieResponse" message="tns:IMovieService_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/CreateMovie" message="tns:IMovieService_CreateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/CreateMovieResponse" message="tns:IMovieService_CreateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/GetMovieByTitle" message="tns:IMovieService_GetMovieByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/GetMovieByTitleResponse" message="tns:IMovieService_GetMovieByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovieByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieService/DeleteMovieByTitle" message="tns:IMovieService_DeleteMovieByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieService/DeleteMovieByTitleResponse" message="tns:IMovieService_DeleteMovieByTitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieService" type="tns:IMovieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMovies">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieService/CreateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieByTitle">
      <soap:operation soapAction="http://tempuri.org/IMovieService/GetMovieByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovieByTitle">
      <soap:operation soapAction="http://tempuri.org/IMovieService/DeleteMovieByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieService">
    <wsdl:port name="BasicHttpBinding_IMovieService" binding="tns:BasicHttpBinding_IMovieService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MoviesService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>